@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Spline+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '../style/responsive';

$line-color: #d5cdbf;
$body-color: #ece8e1;
$main-font-color: #191919;
$point-color:#2e9168;

$main-font: 'Manrope', sans-serif;


html{
    cursor: url('img/smile.png'), auto;
}

::-webkit-scrollbar {
    display: none;
    }

body{
    margin:0;
    background: $body-color; 
}

header{
    width:100%;
    display: flex;
    font-family: $main-font;
    font-weight: 400;
    position: relative;

    nav{
        float:left;
        z-index:5;
        width:5vw;
        height:100vh;
        border-right:1px solid black;
        display: flex;
        margin:0;
        padding:0;
    background-color: $line-color;
    }

    nav ul{
        width: 100%;
        margin: 0;
        padding: 40% 0;
        writing-mode: vertical-rl;
        text-align: center;
        transform: rotate(180deg);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul li{
        font-size:1.5rem;
        list-style: none;
        text-decoration: none;
    }


    .menu-wrap{

        height: 100px;
        width: 100%;
        display: flex;
        border-bottom:1px solid black;
        margin:0; 
        padding:0;
        background-color: $line-color;

        .btnHome{
            border-right:1px solid black;
            display: table;
            padding:0 1.1rem;
            width: 336px;

            a{
                display: table-cell;
                vertical-align: middle;
                font-size:3.4rem;
                font-family: 'Spline Sans', sans-serif;
                font-weight: bold;
                text-decoration: none;
                color:$main-font-color;
            }
        }


        .menu-ul{
            display: flex;
            width:calc(100% - 336px);
            margin:0;
            padding:0;
            justify-content: space-around;
            align-items: center;
            flex-grow: 0;
            
            .menu-li{
                list-style: none;
                font-size:1.875rem;

                a{
                    color:$main-font-color;
                    text-decoration: none;
                    padding:15px;
                }
                a.active{
                    border-radius: 50%;
                    border:1px solid black;
                }
            }
        
        }

        .copyright{
            background-color: $line-color;
            font-size:1.5rem;
            height: 100vh;
            width: 5vw;
            writing-mode: vertical-rl;
            text-align: center;
            transform: rotate(180deg);
            border-right: 1px solid black;
            display: table;
            div{
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
}

#main {
    position: absolute;
    left: 5vw;
    bottom: 0;
    width: 90vw; 
    height: calc(100vh - 200px);
    overflow: scroll;
    
    .project_wrap{
        display: flex;
        font-family: $main-font;
        padding-left: 5%;

        .project_number{
            color: $point-color;
            font-size: 2.96rem;
            font-weight: 500;
            margin-right:2.3%;
            float:right;
        }
        .project_arrow{
            display: none; 
            margin-top: 30px;
        }
          
        .project_title{
            font-size: 5.8rem;
            font-weight: bold;
            color:$main-font-color;
            z-index: 5;

            @include tablet{
                font-size: 5rem;
              }

            @include mobile{ 
                font-size: 7rem;
              } 
        }

        .project_title.active{
            color:$point-color;
        }
        .project_pic{
            display: none;
            z-index:1;
            flex:1;
            margin-left:-2.5%;
            margin-top: 19px;   
            max-height: 93px;
            overflow:hidden;
            padding-right:5%;
        }
        .project_pic img{
            width:100%;
            margin-top: -13%;
        }
    }

    .detail_wrap{
        display: none;
        width: calc( 100vw - 100px);
        height:  100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        background-color: #d5cdbf;
        padding:50px;
        overflow: auto;

        .detail_menu{
            display: flex;
            justify-content: space-between;
            height:50px;
        }

        .detail_menu div, a{
            font-size: 1.5rem;
            font-family: "Spline Sans", sans-serif;
            font-weight: bold;
            text-decoration: none;
            color: #191919;
            cursor: url("img/smile.png"), auto;
            text-decoration: none;
            opacity: 0;
            -webkit-animation: fadeIn 1s forwards;
            -moz-animation: fadeIn 1s forwards;
            animation: fadeIn 1s forwards;
             animation-delay: .4s;
        }
            .detail_content{
                display: flex;
                padding: 0 50px;

                .detail_left{
                    font-size: 1.5rem;
                    flex: 0 0 50%;
                    padding: 50px 2% 50px 0;
                    font-weight:bold;
                    display: table;

                    .detail_title{
                        font-size:2.5rem;
                        margin-bottom: 30px;
                        opacity: 0;
                        -webkit-animation: fadeIn 1s forwards;
                        -moz-animation: fadeIn 1s forwards;
                        animation: fadeIn 1s forwards;
                         animation-delay: .4s;
                    }

                    .detail_explain{
                        font-size: 1.5rem;
                        line-height: 1.5;
                        opacity: 0;
                        font-weight: 600;
                        -webkit-animation: fadeIn 1s forwards;
                        -moz-animation: fadeIn 1s forwards;
                        animation: fadeIn 1s forwards;
                         animation-delay: .4s;
                    }
                }

                    

                .detail_right{
                    width: 100%;
                    padding: 50px 0;
                    text-align: right;
                    opacity: 0;
                    -webkit-animation: fadeIn 1s forwards;
                    -moz-animation: fadeIn 1s forwards;
                    animation: fadeIn 1s forwards;
                     animation-delay: .4s;

                    .detail_info{
                        p{
                        text-transform: uppercase;
                        font-weight: bold;
                        position:relative;
                        margin:0 0 25px 0;
                     }
                     p:nth-child(2n-1){
                        color:#555;
                        font-weight:900;
                        margin-bottom:10px;
                     }
                     /*
                    p::after{ 
                        content: "";
                        background: white;
                        height:2px;
                        position: absolute;
                        bottom: -10px;
                        left: 0;
                        -webkit-transform-origin: left;
                        -moz-transform-origin: left;
                        transform-origin: left;
                        -webkit-animation: line1 1s forwards;
                        -moz-animation: line1 1s forwards;
                        animation: line1 1s forwards;
                         animation-delay: .4s;
                    } 
                    */
                }
            }

        }

        .detail_gallery{
            
    margin-bottom: 140px;
            img{
                display: block;
                width: 100%;
                opacity: 0;
                -webkit-animation: fadeIn 1s forwards;
                -moz-animation: fadeIn 1s forwards;
                animation: fadeIn 1s forwards;
                 animation-delay: .4s;
            }
        }
        
        .topbtn{
            position: fixed;
            bottom:30px;
            right:30px;
            border:none;
            border-radius: 50%;
            background: $point-color;
            font-family: 'Spline Sans', sans-serif;
            width: 60px;
            height: 60px;
            font-weight: 900;
            cursor: url("img/smile.png"), auto;
            color:WHITE;
        }

        .topbtn:hover{
            background: white;
            color:$point-color;
        }
    }

    .about_wrap{
        width:50%;
        margin:0 auto;
        font-size: 1.8rem;
        color:$main-font-color;
        margin-bottom: 100px;
        

        @include tablet{
            width:70%;
          }

        @include mobile{ 
            width:80%;
          }

        strong{
            font-size: 3rem;
        }

        span{
            font-size:2rem;
            display: block;
            font-weight: bold;
            margin-top:60px;
            margin-bottom: 35px;
        }

        .workedfor{
            display: flex;
            justify-content: space-between;
            font-size: 1.5rem;
            margin-bottom: 10px;

            div{
                width:33.3%
            }
        }

        .workedfor:last-child{
                margin-bottom:0;
        }

        .getintouch{
            margin-top:100px;
            text-align: center;

            strong{
                display: block;
                margin-bottom: 30px;
            }
            img{
                height:35px;
            }
            a{
                margin-right:30px;
            }
            img:last-child{
                margin-right:0;
            }
        }
        
    }
}

            



@keyframes line1{
    from{
        width:0%;
    }
    to{
        width:100%;
    }
}

@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

  @keyframes typing{
    from {
      width: 0;
    }
  }
